---
import Counter from "../components/Counter.svelte";
import Timer from "../components/Timer.svelte";
import App from "../layouts/App.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<App>
  <MainLayout>
    <main class="mb-8">
      <Counter client:load />
      <Timer client:load />
      <div class="h-screen"></div>
    </main>
  </MainLayout>
</App>
